<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eomasoft.sermeden.persistence.AppointmentMapper">

	<resultMap type="Appointment" id="findByIdMapper"></resultMap>
	<resultMap type="Appointment" id="findByPageMapper"></resultMap>
	
	<select id="findById" parameterType="Long" resultMap="findByIdMapper">
	
	</select>
	
	<select id="findByPage" parameterType="Long" resultMap="findByPageMapper">
	
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyColumn="ID" keyProperty="id" parameterType="Appointment">
	</insert>
	
	<update id="update" parameterType="Appointment">
	</update>
	

</mapper>